<h1>RFID API SENIOR DESIGN</h1>

<p>
	These are links to see the json for the selected table.
	You may also access the json by appending /api/tablename.
</p>

<ul>
  <li><a href='/api/upc_descriptions'>UPC Descriptions</a></li>
  <li><a href='/api/products'>Products</a></li>
</ul>
