<!-- Matthew -->
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Women's Apparel</h1>
			<%= render "tableOfProducts" %>
	</div>
</div> <!-- /container -->
<!-- END -->